.app {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  background-color: honeydew;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;

}

.item {
  font-size: 1.5em;
  margin-top: 30px;
}


.checked {
  text-decoration-line: line-through;
}

.hidden{
  display: none;

}

.unhidden{
  display: inline-block;
  width: 60%;
  padding-left: 10px;
}

.form input{
  width: 60%;
}

button {
  margin-right: 10px;
  background-color: white;
  color: black;
  border: 2px solid #080808;
}

.form button {
  margin-left: 25px;
}